<%= turbo_frame_tag :remote_modal, target: :_top do %>
<div id="remote-modal">
  <div class="modal fade" data-controller="modal" data-close-modal="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-lable="Close"></button>
        </div>
        <div class="modal-body">
          <%= content %>
        </div>
       </div>
      </div>
     </div>
     </div>
 <% end %>
